{{- if or (.HasShortcode "tag-analyzer-video") (.HasShortcode "fft-demo") (.HasShortcode "overlap-chart") (.HasShortcode "range-controls") (.HasShortcode "markup-guide") -}}
  {{- $css := resources.Get "css/fft-demo.css" | minify | fingerprint -}}
  {{- $js := resources.Get "js/tag-analyzer-player.js" | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
{{- end -}}

{{- if or (.HasShortcode "tag-analyzer-features") (.HasShortcode "panel-editor-tab") (.HasShortcode "fft-demo") (.HasShortcode "range-controls") (.HasShortcode "markup-guide") -}}
  {{- $css := resources.Get "css/panel-editor-tabs.css" | minify | fingerprint -}}
  {{- $js := resources.Get "js/tag-analyzer-annotations.js" | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
{{- end -}}
