{{- $tabs := resources.Get "panel-editor.json" | transform.Unmarshal -}}
{{- $spec := index (where $tabs "id" (.Get "id")) 0 -}}
{{- $lang := .Page.Language.Lang -}}
{{- $title := printf "%s %s" $spec.title (cond (eq $lang "kr") "탭" "Tab") -}}
{{- if eq $lang "ja" -}}
  {{- $title = printf "%s タブ" $spec.title -}}
{{- end -}}
<figure class="ta-feature-guide panel-editor-tab">
  <div class="ta-feature-card">
    {{ partial "tag-analyzer-callout-guide.html" (dict "spec" $spec "id" (printf "editor-%s" (.Get "id")) "lang" $lang "title" $title) }}
  </div>
  <figcaption>{{ .Get "caption" }}</figcaption>
</figure>
