{{- $kr := eq .Page.Language.Lang "kr" -}}
{{- $caption := cond $kr "데모 1: Tag Analyzer 개요" "Demo 1: Tag Analyzer Overview" -}}
{{- $base := "/images/web-ui/tag-analyzer/overview-steps/" -}}
{{- $version := cond $kr "fed7c02d5c" "b7fad77fcb" -}}
{{- $video := printf "%s%s-full.mp4?v=%s" $base .Page.Language.Lang $version -}}
{{- $poster := printf "%s%s-1.webp" $base .Page.Language.Lang -}}
<figure class="tag-analyzer-video">
  {{- partial "tag-analyzer-player.html" (dict "page" .Page "src" $video "poster" $poster "alt" $caption) -}}
  <figcaption>{{ $caption }}</figcaption>
</figure>
